$color-H1: rgb(92, 29, 29);
$color-titulo1: rgb(64, 82, 139);
$color-titulo2: rgb(160, 12, 12);
$color-blanco:rgb(243, 241, 237);
$color-amarillo: rgb(192, 135, 13);
$color-fondoparrafo: rgb(177, 177, 180);
$color-firma:  #2441a3;
$navbar-light-color:rgb(192, 135, 13);